body {
  background-color: beige;
  font-family: "Times New Roman", Times, serif;
  color: rgb(13, 124, 128);
  margin: 2;
  padding: 20;
}

.product-card {
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  margin: 20px auto;
  width: 55%;
  border-radius: 5px;
}

.cart-button {
  background-color: rgb(124, 190, 192);
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  padding: 10px;
  margin: 10px;
  border: none;
}

.price {
  font-size: 2rem;
}
